@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.65;
  font-style: normal;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 1.5;
  font-style: normal;
  font-size: 50px;
}
* {
  text-align: center;
}
body {
  color: #393d41;
}
h1,
h2 {
  margin-bottom: 10px;
  font-size: 35px;
}
p {
  margin-bottom: 10px;
}
a {
  color: white;
}
h1,
h2,
h3,
h4.h5,
h5,
p {
  padding-inline: 20px;
}

.logo {
  background-color: black;
  height: 100px;
}
.dimensione {
  height: 50%;
  width: auto;
  padding-top: 20px;
  padding-left: 20px;
  display: block;
  text-align: left;
}

.contenitore {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.cerchio,
.spazio {
  display: inline-block;
  vertical-align: top;
}

.cerchio {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 50px;
  margin-top: 0;
  margin-bottom: 0;
}
section div strong {
  font-size: 20px;
}
.spazio {
  width: 400px;
  text-align: left;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}
.allinea {
  margin-top: 0;
  margin-bottom: 0;
}
.bimg {
  width: 100%;
  height: 1200px;
  background-image: url("/images/banner.jpg");
  background-size: cover;
  display: block;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.titolo {
  padding-top: 15%;
  padding-inline: 30%;
}
.bottone {
  margin-top: 5%;
  color: white;
  background-color: #f04c2f;
  border-radius: 5px;
  width: 35%;
  height: 5%;
  border: none;
}
.celeste {
  color: #25a2c3;
}
.margine {
  margin-top: 20px;
  margin-bottom: 20px;
}
.testimonianze {
  color: white;
  background-color: #e22d0e;
  padding-top: 7%;
  padding-bottom: 7%;
}
.misurap {
  margin-top: -15px;
  font-size: 70%;
}
.ristretto {
  font-size: 17px;
  margin-top: 5px;
}
.treimg {
  height: 80%;
  width: auto;

  display: block;
  margin: 0 auto;
  padding-top: 0;
  padding-inline: 0;
  margin-bottom: 0;
}
.bordo {
  width: 68%;
  border: 1px solid #dee1e3;
  border-radius: 0 0 1% 1%;
  padding-bottom: 20px;
  margin: 0 auto;
  padding-top: 20px;
}
.spaziosotto {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin-right: 1.5%;
  padding-bottom: 10%;
  padding-top: 10%;
}
.trattino {
  border: solid 0.5px;
  margin-inline: 45%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.boxu {
  text-align: left;
  padding-top: 20px;
  color: white;
  background-color: #25a2c3;
  padding-bottom: 40px;
}
